{% extends "base_account.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Account Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Update account</button>
          </div>
      </form>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'profile-delete' %}">Delete account</a>


    </div>
{% endblock content %}